<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471465635286-3q27t67aajacng5c1qu58nmc5hh8cpln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471465635286-3q27t67aajacng5c1qu58nmc5hh8cpln</string>
	<key>API_KEY</key>
	<string>AIzaSyALHX_hdm4MvruYepSLntpe__fu2QP2QXU</string>
	<key>GCM_SENDER_ID</key>
	<string>471465635286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testapp.filmtest</string>
	<key>PROJECT_ID</key>
	<string>film-app-1509e</string>
	<key>STORAGE_BUCKET</key>
	<string>film-app-1509e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471465635286:ios:511e48653ada09cf124877</string>
</dict>
</plist>